<section class="image-carousel">
 <div class="container-carousel">
  <div class="left-button"><img src="images/Leftarrow.png"></div>
   <div class="image-contaner">
	<div class="main-img" style="background-image: url('images/image01.jpg');"></div>
    <div class="main-img" style="background-image: url('images/image02.jpg');"></div>
    <div class="main-img" style="background-image: url('images/image03.jpg');"></div>
    <div class="main-img" style="background-image: url('images/image04.jpg');"></div>
   </div>	
  <div class="right-button"><img src="images/Rightarrow.png"></div>
   <div class="image-nav">
	<img class="dot" src="images/SmallDot.png">
	<img class="dot" src="images/SmallDot.png">
	<img class="dot" src="images/SmallDot.png">
	<img class="dot" src="images/SmallDot.png">
  </div>
 </div>
</section>